html {
    background-color: white;
}

.hidden {
    display: none !important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-child {
    border: 2px solid black;
    border-radius: 2%;    
    height: 150px;
    min-width: 150px;
    margin: 1%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.plusDiv > h6  {
    color: black;
    margin: 0 auto;
    height: 10%;
    width: 100%;
    font-size: large;
    /*padding: 2%;*/
}

.count {
    padding: 1%;
    padding-bottom: 2%;
    color: black;
    margin-top: 15%;
    font-size: 4em;
}

.total {
    margin: 0 auto;
    font-size: xx-large;
}

/*.quantity {
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
}*/

.plusDiv {
    min-height: 76.5%;
}

/*.minus {
    border: 1px solid deeppink;
    height: 20px;
    width: 50%;
    margin-top: 32%;
    z-index: 99;
}*/

.hotCorner {
    /*border: 1px solid green;*/
    margin-right: 0;
    height: 35px;
    width: 30%;
    background: red;
    border-top-right-radius: 20%;
    position: absolute;
    z-index: 10;
}

.plus {
    line-height: 1.5em;
    width: 30%;
    margin-left: 15%;
    background: seagreen;
    font-size: .2em;
    font-weight: bolder;
}

#cubicFeetDisplay, #trucksDisplay, #tableBtn, #inventoryBtn {
    display: inline-block;
    margin-left: 2%;
}
