html {
    background-color: white;
}

.hidden {
    display: none !important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-child {
    border: 2px solid black;
    border-radius: 2%;    
    height: 150px;
    min-width: 150px;
    margin: 1%;
    text-align: center;
}

.flex-child > h6  {
    color: black;
    margin: 0 auto;
    height: 10%;
    width: 75%;
    font-size: large;
    padding: 2%;
}

.count {
    padding: 1%;
    padding-bottom: 2%;
    color: black;
    margin-top: 15%;
    font-size: 4em;
}

.total {
    margin: 0 auto;
    font-size: xx-large;
}

/*.quantity {
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
}*/

.minus {
    line-height: 1.5em;
    width: 30%;
    margin-right: 15%;
    margin-bottom: 15%;
    background: orangered;
    font-size: .2em;
    font-weight: bolder;
}

.plus {
    line-height: 1.5em;
    width: 30%;
    margin-left: 15%;
    background: seagreen;
    font-size: .2em;
    font-weight: bolder;
}

#cubicFeetDisplay, #trucksDisplay, #tableBtn, #inventoryBtn {
    display: inline-block;
    margin-left: 2%;
}
