#printable {
    display: flex;
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
    justify-content: space-around;
}

.containerColumn {
    /*height: 600px;*/
    width: 30%;
    /*border: 1px solid red;*/
    flex-direction: row;
}

.columnHeader {
    padding-left: 2%;
    /*border: 1px solid black;*/
    text-decoration: underline;
}

.unitDiv {
    /*height: 50px;*/
    /*border: 1px solid green;*/
    flex-direction: column;
    padding-left: 2%;
    /*text-decoration: underline;*/
    margin-bottom: 2%;
}

.totalDiv {
    margin-top: 5%;
    font-weight: bolder;
    margin-left: 2%;
    display: inline-block;
}

