#printable {
    display: flex;
    width: 70%;
    max-height: 90%;
    margin: 0 auto;
    border: 2px solid black;
    justify-content: space-around;
}

.containerColumn {
    width: 30%;
    flex-direction: row;
}

.columnHeader {
    padding-left: 2%;
    text-decoration: underline;
}

.unitDiv {
    flex-direction: column;
    padding-left: 2%;
    margin-bottom: 2%;
}

.totalDiv {
    margin-top: 5%;
    font-weight: bolder;
    margin-left: 2%;
    display: inline-block;
}

